.title-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.input-field {
    -fx-pref-width: 250px;
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-padding: 8px;
}

.modifierbtn{
    -fx-font-size: 14px;
    -fx-background-color:  #2c3e50;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-padding: 10px 20px;
}

.modifierbtn:hover{
    -fx-background-color:  #3498db;
}

.deletebtn, .cancelbtn{
    -fx-font-size: 14px;
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-padding: 10px 20px;
}

.savebtn, .addbtn {
    -fx-font-size: 14px;
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-padding: 10px 20px;
}

.savebtn:hover, .addbtn:hover {
    -fx-background-color: #2ecc71;
}

.statuslabel {
    -fx-font-size: 12px;
    -fx-text-fill: #e74c3c;
}